
DB_PASS=your-mariadb-password
DB_NAME=quora_clone
DATABASE_URL=mysql://root:your-mariadb-password@localhost:3306/quora_clone

DB_CONNECTION_LIMIT=10
JWT_SECRET=change-me
# you can leave this unchaned if the process is run localhost
FRONTEND_URL=http://127.0.0.1:5173
